<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Deposit</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
<header>
    <h1>Add Deposit</h1>
</header>
<main>
    <form id="depositForm">
        <label for="depositAmount">Amount:</label>
        <input type="text" id="depositAmount" placeholder="Enter deposit amount">
        <label for="account">Account:</label>
        <input type="text" id="account" placeholder="Enter account number">
        <button type="button" onclick="addDeposit()">Deposit</button>
    </form>
</main>
<script src="application.js"></script>
</body>
</html>
