<div id="logo">
    <a href="#" onclick="loadHome()">
        <img src="/static/images/ledgelogo.png" alt="TheLedge">
    </a>
</div>
<nav id="main-nav">
    <div id="links">
        <div id="options" class="dropdown">
            <a href="#" class="dropbtn">The Ledge</a>
            <div class="dropdown-content">
                <a href="#" onclick="loadAddDepositPage()">Add Deposit</a>
                <a href="#" onclick="loadMakePaymentPage()">Make Payment</a>
                <a href="#" onclick="viewLedger()">View Ledger</a>
            </div>
            <div id="category-container"></div>

        </div>
    </div>
</nav>
<div id="user-info">
    <a href="#" onclick="showLoginForm();return false;">Sign in</a>
</div>
