<div class="filter-box">
    <div class="form-floating mb-3">
        <select name="" id="category-select" class="form-select" onchange="setCategory(this)">
            <option value="0">View all transactions</option>
            <option value="1">Month to date</option>
            <option value="2">Get previous months</option>
            <option value="3">Year to date</option>
            <option value="4">Get by year</option>
        </select>
        <label for="category-select">Transaction Date</label>
    </div>


